@import "tailwindcss";

html,body{
    background: #1E1E2F;
    box-sizing: border-box;
}
#tasklist::-webkit-scrollbar{
    display: none;
    background-color: transparent;
}
#alltask::-webkit-scrollbar{
    display: none;
}
